.Hero {
    background-image: url("https://images.unsplash.com/photo-1574015974293-817f0ebebb74?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=673&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: contain;
    width: 100%;
    height: 900px; /* Optional: Set a height to cover the entire viewport height */
}
