.Shop{
    padding: 2em;
    text-align: center;
    .shop-container{
        //background: red;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 1em;
    }
}