.Card{
    width: 250px;
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .item-image{
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    .item-title{
        text-align: start;
    }
}