@import "./App.scss";
@import "./Components/Nav/Nav.scss";
@import "./Sections/Hero/Hero.scss";
@import "./Sections/Shop/Shop.scss";
@import "./Components/Card/Card.scss";
@import "./Sections/About/About.scss";
@import "./Sections/Footer/Footer.scss";

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background: whitesmoke;
  font-family: monospace;
}