.Nav{
    background: yellow;
    margin: 1em;
    border-radius: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
    font-weight: bolder;
    .navLinks{
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        //width: 40%;
        li{
            margin: 1em;
        }
    }
    .navTools{
        display: flex;
        justify-content: space-around;
        align-items: center;
        //background: red;
        padding: 1em;
        //width: 20%;
        input{
            border: none;
            padding: 1em; 
            //margin-right: 1em;
        }
        .heart,.shop{
            margin-left: 1em;
            img{
                width: 30px;
            }    
        }
    }
}